@import url(bootsrap.css);

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #4c6670, #40e3e9);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: linear-gradient(to bottom, #4c6670, #40e3e9); /* Gradient colors representing beach and ocean */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: white; /* Text color on the gradient background */
    
}


form {
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}


#holidayResults {
    text-align: left;
}
.button {
    padding: 20px;
    height: auto;
    
}

